@keyframes ldio-8xyeb0qu5 {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1.22);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-8xyeb0qu5 div > div {
  position: absolute;
  width: 24.839999999999996px;
  height: 24.839999999999996px;
  border-radius: 50%;
  background: #348382;
  animation: ldio-8xyeb0qu5 0.6896551724137931s linear infinite;
}
.ldio-8xyeb0qu5 div:nth-child(1) > div {
  left: 153.5px;
  top: 91.49999999999999px;
  animation-delay: -0.6206896551724138s;
}
.ldio-8xyeb0qu5 > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 165.92px 103.91999999999999px;
}
.ldio-8xyeb0qu5 div:nth-child(2) > div {
  left: 141.5px;
  top: 127.49999999999999px;
  animation-delay: -0.5517241379310345s;
}
.ldio-8xyeb0qu5 > div:nth-child(2) {
  transform: rotate(36deg);
  transform-origin: 153.92px 139.92px;
}
.ldio-8xyeb0qu5 div:nth-child(3) > div {
  left: 110.49999999999999px;
  top: 150.5px;
  animation-delay: -0.4827586206896552s;
}
.ldio-8xyeb0qu5 > div:nth-child(3) {
  transform: rotate(72deg);
  transform-origin: 122.91999999999999px 162.92px;
}
.ldio-8xyeb0qu5 div:nth-child(4) > div {
  left: 71.49999999999999px;
  top: 150.5px;
  animation-delay: -0.41379310344827586s;
}
.ldio-8xyeb0qu5 > div:nth-child(4) {
  transform: rotate(108deg);
  transform-origin: 83.91999999999999px 162.92px;
}
.ldio-8xyeb0qu5 div:nth-child(5) > div {
  left: 40.499999999999986px;
  top: 127.49999999999999px;
  animation-delay: -0.3448275862068966s;
}
.ldio-8xyeb0qu5 > div:nth-child(5) {
  transform: rotate(144deg);
  transform-origin: 52.91999999999999px 139.92px;
}
.ldio-8xyeb0qu5 div:nth-child(6) > div {
  left: 28.499999999999986px;
  top: 91.49999999999999px;
  animation-delay: -0.27586206896551724s;
}
.ldio-8xyeb0qu5 > div:nth-child(6) {
  transform: rotate(180deg);
  transform-origin: 40.91999999999999px 103.91999999999999px;
}
.ldio-8xyeb0qu5 div:nth-child(7) > div {
  left: 40.499999999999986px;
  top: 54.499999999999986px;
  animation-delay: -0.20689655172413793s;
}
.ldio-8xyeb0qu5 > div:nth-child(7) {
  transform: rotate(216deg);
  transform-origin: 52.91999999999999px 66.91999999999999px;
}
.ldio-8xyeb0qu5 div:nth-child(8) > div {
  left: 71.49999999999999px;
  top: 32.499999999999986px;
  animation-delay: -0.13793103448275862s;
}
.ldio-8xyeb0qu5 > div:nth-child(8) {
  transform: rotate(252deg);
  transform-origin: 83.91999999999999px 44.91999999999999px;
}
.ldio-8xyeb0qu5 div:nth-child(9) > div {
  left: 110.49999999999999px;
  top: 32.499999999999986px;
  animation-delay: -0.06896551724137931s;
}
.ldio-8xyeb0qu5 > div:nth-child(9) {
  transform: rotate(288deg);
  transform-origin: 122.91999999999999px 44.91999999999999px;
}
.ldio-8xyeb0qu5 div:nth-child(10) > div {
  left: 141.5px;
  top: 54.499999999999986px;
  animation-delay: 0s;
}
.ldio-8xyeb0qu5 > div:nth-child(10) {
  transform: rotate(324deg);
  transform-origin: 153.92px 66.91999999999999px;
}
.loadingio-spinner-spin-p1gnk36x8i {
  width: 206px;
  height: 206px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  left: 50%;
  margin: 0 -103px;
}
.ldio-8xyeb0qu5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-8xyeb0qu5 div {
  box-sizing: content-box;
}
